@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: Arial_Rounded_Bold;
	src: url("static/font/Arial_Rounded_Bold.eot"); /* EOT file for IE */
	src: local("Arial Rounded Bold"), local("Arial-Rounded-Bold"), url("static/font/Arial_Rounded_Bold.ttf") format('truetype'); /* TTF file for CSS3 browsers */
}
.ui-page {
	font-family: Arial_Rounded_Bold, Arial, Helvetica, sans-serif;
}